body {
    background-color: #040404;
    color: #d8ab4e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.input-new {
    text-align: center;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
    border-color: #d8ab4e;
    color: #d8ab4e;
}

select {
    background-color: #040404;
    color: #d8ab4e;
    border-color: #d8ab4e;
    width: 190px;
    height: 30px;
    padding: 5px;
}

.button-new {
    margin-top: 30px;
    width: 190px;
    height: 30px;
    background-color: black;
    color: #d8ab4e;
    border-color: #d8ab4e;
}

.button-new:active {
    background-color: #d8ab4e;
    color: #040404;
    border-color: black;
}

.button-new:hover {
    background-color: #d8ab4e;
    color: #040404;
    border-color: black;
}

.back-button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #d8ab4e;
    color: black;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
}

.back-button:hover{
    background-color: black;
    color: #d8ab4e;
    border-color: #d8ab4e;
}